.bookRow div{
  width: 150px;
  font-size: 20px;
  display: inline-table;
  border: 100px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px; 
  border-left: solid 1px black;
  
}

header{
	display: flex; 
	justify-content: space-between;
	align-items: center;
}

span{
  color: red;
}
